@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Roboto:wght@300;400&display=swap');

/* body {
    background-color: #eddcd2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
} */

h1 {
    font-family: 'Dancing Script', cursive;
    color: #6B705C;
    margin-bottom: 10px;
}

.date {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    color: #A5A58D;
    margin-bottom: 30px;
}

.btn,
.btnc {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.btnc {
    background-color: #7dad7d;
    color: white;
}

.btn {
    background-color: #CB997E;
    color: white;
}

.btn:hover,
.btnc:hover {
    opacity: 0.8;
}

.btn i,
.btnc i {
    font-size: 1.5em;
}