@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Roboto:wght@300;400&display=swap');

:root {
    --color-primary: #6B705C;
    --color-secondary: #A5A58D;
    --color-custom-green: #7dad7d;
    --color-custom-brown: #CB997E;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: var(--color-primary);
    margin-bottom: 10px;
}

.date {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    color: var(--color-secondary);
    margin-bottom: 30px;
}

.btnc {
    @apply py-3 px-6 border-none rounded-full text-base cursor-pointer transition-all duration-300 flex items-center justify-center;
    @apply animate-bounce w-36 text-white; /* Yükle butonu */
    background-color: var(--color-custom-green);

}

.btnc:hover {
    background-color: var(--color-custom-green);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btnc svg {
    width: 24px;
    height: 24px;
}

.btnc span {
    margin-left: 10px;
}

.fixed-gallery-btn,
.fixed-settings-btn {
    position: fixed;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 1000;
    padding: 0;
}

.fixed-gallery-btn {
    bottom: 20px;
    background-color: var(--color-custom-green);
}

.fixed-settings-btn {
    bottom: 90px; /* Gallery butonunun üstünde yer alması için */
    background-color: var(--color-custom-green);
}

.fixed-gallery-btn:hover,
.fixed-settings-btn:hover {
    width: 150px;
}

.fixed-gallery-btn svg,
.fixed-settings-btn svg {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    flex-shrink: 0;
    margin: 0 18px;
}

.gallery-text,
.settings-text {
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 60px;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fixed-gallery-btn:hover .gallery-text,
.fixed-settings-btn:hover .settings-text {
    opacity: 1;
}