<div class="flex flex-col items-center justify-center min-h-screen h-full p-8 max-w-4xl mx-auto">
  <h1 class="text-center text-5xl font-dancing text-primary mb-2">{{ title }}</h1>
  <div class="date text-center text-3xl font-great-vibes text-secondary mb-8">{{ date }}</div>
  <div class="w-full max-w-md flex items-center justify-center gap-4 mb-8">
    <button class="btnc btn-upload animate-bounce bg-green-500 text-white" (click)="triggerFileInput()">
      <i class="fa fa-plus-square mr-2" aria-hidden="true"></i>Yükle
    </button>
    <button class="btn btn-gallery bg-amber-300 text-white relative overflow-hidden" (click)="openGallery()">
      <i class="fas fa-images text-2xl"></i>
      <span class="absolute left-12 opacity-0 transition-opacity duration-300">Galeri</span>
    </button>
  </div>
  <input type="file" id="fileInput" class="hidden" multiple accept="image/*,video/*" (change)="onFileSelected($event)">
</div>