@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #6B705C;
  --color-secondary: #A5A58D;
  --color-custom-green: #7dad7d;
  --color-custom-brown: #CB997E;
}

@keyframes gradient-rotation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  @apply font-sans;
  background: linear-gradient(
    -45deg,
    #FFF8E7,
    #FBE7E9,
    #F8D5DA,
    #FFE5D9
  );
  background-size: 400% 400%;
  animation: gradient-rotation 15s ease infinite;
  background-attachment: fixed;
  min-height: 100vh;
}

@layer utilities {
  .font-dancing {
    font-family: 'Dancing Script', cursive;
  }
  
  .font-great-vibes {
    font-family: 'Great Vibes', cursive;
  }
}

@layer components {
  .fixed-back-button {
    @apply fixed bottom-4 right-4 p-3 border-none rounded-full cursor-pointer transition-all duration-300 flex items-center justify-center bg-custom-brown text-white shadow-md;
  }

  .fixed-back-button:hover {
    @apply opacity-80;
  }

  .photo-container {
    @apply relative w-full pt-[100%] overflow-hidden rounded-full;
  }

  .photo-container img {
    @apply absolute top-1/2 left-1/2 w-full h-full object-cover rounded-full transform -translate-x-1/2 -translate-y-1/2 transition-transform duration-300 ease-in-out;
  }

  .photo-container:hover img {
    @apply scale-105;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
