@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Roboto:wght@300;400&display=swap');

:root {
  --color-primary: #6B705C;
  --color-secondary: #A5A58D;
  --color-custom-green: #7dad7d;
  --color-custom-brown: #CB997E;
}

.login-container {
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    #FFF8E7,
    #FBE7E9,
    #F8D5DA,
    #FFE5D9
  );
  background-size: 400% 400%;
  animation: gradient-rotation 15s ease infinite;
  background-attachment: fixed;
}

@keyframes gradient-rotation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}