@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Roboto:wght@300;400&display=swap');

:root {
  --color-primary: #6B705C;
  --color-secondary: #A5A58D;
  --color-custom-green: #7dad7d;
  --color-custom-brown: #CB997E;
}

.text-primary {
  color: var(--color-primary);
}