@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  /* box-sizing: border-box; */
}

.btn-primary{
  @apply text-white px-[1.875rem] py-[0.5rem] rounded-3xl bg-primary
  cursor-pointer hover:bg-orange-600 transition-all;
}

.slick-dots {
  @apply !flex justify-start w-full;
}

.slick-dots .slick-active div{
  @apply bg-primary;
}



